@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/fondopagina.jpg);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

body nav {
  background-color: #d4d0f5;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
body nav li {
  list-style: none;
  display: inline;
  margin-right: 8px;
}
body nav li a {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 1.4em;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

footer {
  background-color: #9c3e9c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
footer .svg {
  padding: 6px;
  width: 40px;
  height: 40px;
}
footer ul {
  list-style: none;
  padding: 0 10px;
  margin: 10px 0;
}
footer ul li a {
  color: #f8f8f8;
  font-size: 1em;
  text-decoration: none;
}
footer a {
  text-decoration: none;
}

@keyframes animation {
  0% {
    background-color: #5D185B;
  }
  25% {
    background-color: #9c3e9c;
  }
  50% {
    background-color: #B569CC;
  }
  75% {
    background-color: #9c3e9c;
  }
  100% {
    background-color: #5D185B;
  }
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons form {
  display: flex;
  align-items: center;
}
.icons input {
  margin: 0 5px;
  padding: 6px;
  border-radius: 10px;
  border: none;
  background-color: #f8f8f8;
}
.icons .iconsLinks {
  margin: 0 5px;
  background-color: #9c3e9c;
  padding: 6px;
  border: none;
  border-radius: 3px;
}

.iconsG {
  justify-content: center;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 160px;
  grid-template-areas: "buscar icono carrito";
}

.searchG {
  grid-area: buscar;
}

.iconG {
  grid-area: icono;
}

.cartG {
  grid-area: carrito;
}

.icon {
  width: 150px;
}

.iconH {
  width: 65px;
}

.banner100 {
  width: 100%;
}

@keyframes animation {
  0% {
    background-color: #5D185B;
  }
  25% {
    background-color: #9c3e9c;
  }
  50% {
    background-color: #B569CC;
  }
  75% {
    background-color: #9c3e9c;
  }
  100% {
    background-color: #5D185B;
  }
}
.sendFree {
  text-align: center;
  background-color: #9c3e9c;
  color: #f8f8f8;
  font-size: 1.4em;
  margin: 0;
  animation-name: animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.start {
  width: 500px;
  padding-left: 30px;
  padding-bottom: 30px;
  border-radius: 15px;
  transition: 0.5s;
}
.start:hover {
  transform: scale(1.2);
}

.p {
  padding-left: 30px;
  padding-bottom: 30px;
}

.centerLinksIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.imgSize {
  width: 400px;
  height: 400px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-right: 30px;
}

.clothes, .manga {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bg-purple {
  border: none;
  background-color: #9c3e9c;
  color: #f8f8f8;
  width: 90%;
  font-size: 1em;
  border-radius: 10px;
  padding: 5px;
  transition: 0.3s;
}
.bg-purple:hover {
  transform: scale(1.1);
}

.manga figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: solid black 2px;
  border-radius: 15px;
  margin: 15px 0;
  padding: 20px;
}
.manga figure img {
  width: 300px;
  height: 415px;
}
.manga figure button {
  border: none;
  background-color: #9c3e9c;
  color: #f8f8f8;
  width: 80%;
  font-size: 1em;
  border-radius: 10px;
  padding: 5px;
  transition: 0.3s;
}
.manga figure button:hover {
  transform: scale(1.1);
}
.manga figure figcaption {
  color: #1d1d1d 44, 42, 44;
  font-size: 1.4em;
  padding: 10px 0;
}

.clothes figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: solid black 2px;
  border-radius: 15px;
  margin: 15px 0;
  padding: 20px;
}
.clothes figure button {
  border: none;
  background-color: #9c3e9c;
  color: #f8f8f8;
  width: 80%;
  font-size: 1em;
  border-radius: 10px;
  padding: 5px;
  transition: 0.3s;
}
.clothes figure button:hover {
  transform: scale(1.1);
}
.clothes figure figcaption {
  color: #9c3e9c;
  font-size: 1.4em;
}

.instaPic {
  width: 300px;
  margin: 0 auto;
  display: block;
  padding: 10px;
}

.filters {
  padding: 20px 20px 30px 30px;
}
.filters a {
  color: #1d1d1d;
  font-size: 1em;
  text-decoration: none;
  margin-bottom: 4px;
}
.filters span {
  display: block;
  color: #1d1d1d;
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 1.4em;
}
.filters li {
  list-style: none;
}

.store {
  /* le puse tantas lineas y 
  pixeles porque no me coincidia el footer,
  espero encontrar la forma de arreglarlo */
  display: grid;
  grid-template-columns: 15%;
  grid-template-rows: repeat(12.5, 800px);
  gap: 5px;
  grid-template-areas: "filters manga1 manga2 manga3" "filters manga4 manga5 manga6" "filters manga7 manga8 manga9" "filters manga10 manga11 manga12" "filters manga13 manga14 manga15";
}
.store .manga1 {
  grid-area: manga1;
}
.store .manga2 {
  grid-area: manga2;
}
.store .manga3 {
  grid-area: manga3;
}
.store .manga4 {
  grid-area: manga4;
}
.store .manga5 {
  grid-area: manga5;
}
.store .manga6 {
  grid-area: manga6;
}
.store .manga7 {
  grid-area: manga7;
}
.store .manga8 {
  grid-area: manga8;
}
.store .manga9 {
  grid-area: manga9;
}
.store .manga10 {
  grid-area: manga10;
}
.store .manga11 {
  grid-area: manga11;
}
.store .manga12 {
  grid-area: manga12;
}
.store .manga13 {
  grid-area: manga13;
}
.store .manga14 {
  grid-area: manga14;
}
.store .manga15 {
  grid-area: manga15;
}

.store .filters, .store2 .filters {
  grid-area: filters;
  background-color: rgba(212, 208, 245, 0.5019607843);
}

.store2 {
  /* le puse tantas lineas y 
  pixeles porque no me coincidia el footer,
  espero encontrar la forma de arreglarlo */
  display: grid;
  grid-template-columns: 15%;
  grid-template-rows: repeat(3.5, 300px);
  gap: 5px;
  grid-template-areas: "filters remera1 remera2 remera3" "filters remera4 remera5 remera6";
}
.store2 .tshirt1 {
  grid-area: remera1;
}
.store2 .tshirt2 {
  grid-area: remera2;
}
.store2 .tshirt3 {
  grid-area: remera3;
}
.store2 .tshirt4 {
  grid-area: remera4;
}
.store2 .tshirt5 {
  grid-area: remera5;
}
.store2 .tshirt6 {
  grid-area: remera6;
}

.imgUs {
  padding: 15px 200px;
  background-color: rgba(212, 208, 245, 0.5019607843);
}
.imgUs section {
  margin-top: 10px;
  border: solid black 2px;
  border-radius: 10px;
}
.imgUs img {
  width: 200px;
}
.imgUs p {
  padding: 10px 0 20px 20px;
  font-size: 1.4em;
}

.imgLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgRight {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

/* pantalla 4k */
@media (max-width: 2560px) and (min-width: 993px) {
  .noneH {
    display: none;
  }
}
/* laptop L */
@media (max-width: 1440px) {
  .start {
    width: 400px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
  }
  .start:hover {
    transition: 0.5s;
    transform: scale(1.2);
  }
  .clothes figure {
    width: 30%;
    padding-left: 0px;
  }
  .clothes figure img {
    width: 330px;
    height: 330px;
  }
  .clothes figure button {
    margin-left: 20px;
  }
  .clothes figure figcaption, .clothes figure p {
    margin-left: 15px;
  }
  .manga figure {
    width: 30%;
  }
  .manga figure img {
    width: 205px;
    height: 285px;
  }
}
/* laptop "chica"*/
@media (max-width: 1200px) {
  .iconLaptop {
    width: 120px;
  }
  .start {
    width: 320px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
  }
  .instaPic {
    width: 220px;
  }
  .clothes figure {
    width: 30%;
    padding-left: 0px;
  }
  .clothes figure img {
    width: 250px;
    height: 250px;
  }
  .clothes figure button {
    font-size: 0.8em;
    width: 90%;
  }
  .clothes figure figcaption, .clothes figure p {
    margin-left: 22px;
    font-size: 1em;
  }
  .imgSize {
    margin-right: 10px;
  }
  .manga figure img {
    width: 190px;
    height: 265px;
  }
  .manga figure button {
    font-size: 0.8em;
    width: 90%;
  }
  .manga figure figcaption, .manga figure h4 {
    margin-left: 0;
    font-size: 1em;
  }
}
/* menos que laptop (tablet) */
@media (max-width: 992px) {
  .none {
    display: none;
  }
  .noneTablet {
    display: none;
  }
  /* INICIO */
  .start {
    width: 400px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
  }
  .centerLinksIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  /* FORMULARIO */
  .mapForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sizeFormMapTablet {
    width: 100%;
    margin-bottom: 35px;
  }
  /* ROPA Y MANGA */
  .store2 .filters, .store .filters {
    padding-left: 12px;
    padding-right: 5px;
  }
  .clothes figure {
    width: 45%;
    padding-left: 0px;
  }
  .clothes figure img {
    width: 250px;
    height: 250px;
  }
  .clothes figure button {
    margin-left: 18px;
  }
  .imgSize {
    margin-right: 10px;
  }
  .manga figure {
    width: 45%;
  }
  .store .filters {
    padding-left: 5px;
  }
  /* NOSOTROS */
  .imgTop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imgUs {
    padding: 15px 100px;
  }
}
@media (max-width: 767px) {
  .btn-primary {
    --bs-btn-bg: #9c3e9c;
    --bs-btn-border-color: #9c3e9c;
    --bs-btn-hover-color: #f8f8f8;
    --bs-btn-hover-bg: #9c3e9c;
    --bs-btn-hover-border-color: #9c3e9c;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color:#f8f8f8;
    --bs-btn-active-bg: #9c3e9c;
    --bs-btn-active-border-color: #9c3e9c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f8f8;
    --bs-btn-disabled-bg: #9c3e9c;
    --bs-btn-disabled-border-color: #9c3e9c;
  }
  .btnFiltersCenter {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    font-size: 0.8em;
  }
  .store {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: " manga1 manga2 " " manga3 manga4 " " manga5 manga6 " " manga7 manga8 " " manga9 manga10 " " manga11 manga12 " " manga13 manga14 ";
  }
  .store .manga1 {
    grid-area: manga1;
  }
  .store .manga2 {
    grid-area: manga2;
  }
  .store .manga3 {
    grid-area: manga3;
  }
  .store .manga4 {
    grid-area: manga4;
  }
  .store .manga5 {
    grid-area: manga5;
  }
  .store .manga6 {
    grid-area: manga6;
  }
  .store .manga7 {
    grid-area: manga7;
  }
  .store .manga8 {
    grid-area: manga8;
  }
  .store .manga9 {
    grid-area: manga9;
  }
  .store .manga10 {
    grid-area: manga10;
  }
  .store .manga11 {
    grid-area: manga11;
  }
  .store .manga12 {
    grid-area: manga12;
  }
  .store .manga13 {
    grid-area: manga13;
  }
  .store .manga14 {
    grid-area: manga14;
  }
  .store .manga15 {
    grid-area: manga15;
  }
  .store2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: " remera1 remera2 " " remera3 remera4 " " remera5 remera6 ";
  }
  .store2 .tshirt1 {
    grid-area: remera1;
  }
  .store2 .tshirt2 {
    grid-area: remera2;
  }
  .store2 .tshirt3 {
    grid-area: remera3;
  }
  .store2 .tshirt4 {
    grid-area: remera4;
  }
  .store2 .tshirt5 {
    grid-area: remera5;
  }
  .store2 .tshirt6 {
    grid-area: remera6;
  }
  .displayNone {
    display: none;
  }
  .clothes figure {
    width: 45%;
  }
  .clothes figure img {
    width: 170px;
    height: 170px;
  }
  .clothes figure button {
    font-size: 0.6em;
    width: 65%;
    padding: 10px;
  }
  .clothes figure figcaption, .clothes figure p {
    font-size: 0.6em;
  }
  .manga figure {
    width: 45%;
  }
  .manga figure img {
    width: 125px;
    height: 155px;
  }
  .manga figure button {
    font-size: 0.6em;
    width: 65%;
    padding: 10px;
  }
  .manga figure figcaption, .manga figure h4 {
    font-size: 1em;
  }
  .imgUs {
    padding: 0px;
  }
}
/* celulares */
@media (max-width: 400px) and (min-width: 320px) {
  .start {
    width: 300px;
  }
}
.center404 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.error404 {
  text-align: center;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
}

.button404 {
  border: none;
  background-color: #9c3e9c;
  color: #f8f8f8;
  width: 90%;
  font-size: 1em;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
