@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/fondopagina.jpg);
    
}

.icono {
    width: 150px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}
.center a:hover{
    color: white;
}

body  nav{
    background-color: #d4d0f5;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
         nav ul li {
                list-style: none;
                display: inline;
                margin-right: 8px;
                } 
                nav ul li a {
                        text-decoration: none;
                        color: black;                      
                        font-size: 1.4em;
                        }
                        

.b100 {
     width: 100%;
}


.pagFija{
    color: rgb(156, 62, 156);
}

body h2{
    text-align: center;
    background-color: rgb(156, 62, 156);
    color: aliceblue;
}

.inicio{
    width: 600px;
    height: 600px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    transition: 0.5s;
}

    .inicio:hover{
        transform: scale(1.2);
    }

main h1 {
    padding: 15px 15px;
}

.p{
    padding-left: 30px;
    padding-bottom: 30px;
}

header p {
    font-size: 1.4em;
}

header h1,h3{
    padding: 10px 0px;
    text-align: center;
}

main form div{
    padding: 8px;
}

main div label{
    display: block;
} 

footer {
    background-color: rgb(156, 62, 156);
    /* padding: 10px 60px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    footer .svg {
        padding: 6px;
        width: 40px;
        height: 40px;
    } 

    footer ul{
        list-style: none;
        padding:0 10px;
        margin: 10px 0;
    }

    footer ul li a{
        color: rgb(255, 255, 255);
        font-size: 0.9em;
        text-decoration: none;
    }

    footer a{
        text-decoration: none;
    }

.imgSize {
    width: 400px;
    height: 400px;
    padding-left: 30px;
    padding-bottom: 30px;

}


.ropa, .manga {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.manga img{
    width: 350px;
    height: 491.75px;
}
    .ropa figure, .manga figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        border: solid black 2px;
        border-radius: 15px;
        margin: 15px 0;
        padding: 20px;
    }   

    .ropa figure figcaption {
        color: #9c3e9c;
        font-size: 1.4em;
    }
    
    .manga figure figcaption {
        color: rgb(44, 42, 44);
        font-size: 1.4em;
        padding: 10px 0;
    }

    .ropa figure button, .manga figure button {
        border: none;
        padding: 5px 45px; 
        font-size: 1.2em;
        background-color: rgb(156, 62, 156);
        border-radius: 10px;
        color: white;
        margin: 10px;
        width: 80%;
    }

    .ropa button, .manga button{
        transition: 0.3s;
    }

    .manga button:hover{
            transform: scale(1.1);
    }
    .ropa button:hover{
            transform: scale(1.1);
    }


    main .container{
        display: flex;
        justify-content: space-evenly;
    }

        .instaFoto{
        width: 300px;
        margin: 0 auto;
        display: block;
        padding: 10px;
    }   

.logMedio{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logMedio, .form{
    display: block;
    padding: 20px ;
    font-size: 1.3em;
}

.filters{
    padding: 20px 20px 30px 30px;
}   
    .filters a{
        color: black;
        font-size: 1em;
        text-decoration: none;
        margin-bottom: 4px;
        /* text-transform: lowercase; */
    }

    .filters a:hover{
        color: grey;
    }

    .filters span{
        display: block;
        color: black;
        margin: 10px 0;
        letter-spacing: 1px;
        font-size: 1.2em;
    }

    .filters li{
        padding-left: 15px;
        list-style: none;
    }

.tienda {
    /* le puse tantas lineas y 
    pixeles porque no me coincidia el footer,
    espero encontrar la forma de arreglarlo */
    display: grid;
    grid-template-columns: 15% ;
    grid-template-rows: repeat(12.5 , 800px); 
    gap: 5px;
    grid-template-areas: 
    "filters manga1 manga2 manga3"
    "filters manga4 manga5 manga6"
    "filters manga7 manga8 manga9"
    "filters manga10 manga11 manga12"
    "filters manga13 manga14 manga15";
}

.tienda .filters, .tienda2 .filters{
    grid-area: filters;
    background-color: rgba(255, 255, 255, 0.5);
}

.tienda .manga1{
    grid-area: manga1;
}
.tienda .manga2{
    grid-area: manga2;
}
.tienda .manga3{
    grid-area: manga3;
}
.tienda .manga4{
    grid-area: manga4;
}
.tienda .manga5{
    grid-area: manga5;
}
.tienda .manga6{
    grid-area: manga6;
}
.tienda .manga7{
    grid-area: manga7;
}
.tienda .manga8{
    grid-area: manga8;
}
.tienda .manga9{
    grid-area: manga9;
}
.tienda .manga10{
    grid-area: manga10;
}
.tienda .manga11{
    grid-area: manga11;
}
.tienda .manga12{
    grid-area: manga12;
}
.tienda .manga13{
    grid-area: manga13;
}
.tienda .manga14{
    grid-area: manga14;
}
.tienda .manga15{
    grid-area: manga15;
}



.tienda2 {
    /* le puse tantas lineas y 
    pixeles porque no me coincidia el footer,
    espero encontrar la forma de arreglarlo */
    display: grid;
    grid-template-columns: 15% ;
    grid-template-rows: repeat(3.5 , 300px);
    gap: 5px;
    grid-template-areas: 
    "filters remera1 remera2 remera3"
    "filters remera4 remera5 remera6";
}

.tienda2 .remera1{
    grid-area: remera1;
}
.tienda2 .remera2{
    grid-area: remera2;
}
.tienda2 .remera3{
    grid-area: remera3;
}
.tienda2 .remera4{
    grid-area: remera4;
}
.tienda2 .remera5{
    grid-area: remera5;
}
.tienda2 .remera6{
    grid-area: remera6;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

    .icons form {
        display: flex;
        align-items: center;
    }
    
    .icons input{
        margin: 0 5px;
        padding: 6px;
        border-radius: 10px;
        border: none;
        background-color: rgb(243, 245, 245);
    }

    .icons button{
        margin: 0 5px;
        background-color: rgb(156, 62, 156);
        padding: 6px;
        border: none;
        border-radius: 3px;
    }

    .iconsG{
        justify-content: center;
        display: grid;
        grid-template-columns: 30% 30% 30% ;
        grid-template-rows: 160px;
        grid-template-areas: 
        "buscar icono carrito"
    }

.buscarG{
    grid-area: buscar;
}

.iconoG{
    grid-area: icono;
}

.carritoG{
    grid-area: carrito;
}

/* NOSOTROS */

.imgNos{
    padding: 0 200px;
    background-color: rgba(212, 208, 245, 0.5);
}

.imgNos section{
    margin-top: 10px;
    border: solid black 2px;
    border-radius: 10px;
    
}

.imgNos img{
    width: 200px;
    /* height: 200px; */
}

.imgNos p{
    padding: 10px 0 20px 20px;
    font-size: 1.2em;
}

.imgIzq{
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.imgDer{
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
}