footer {
    background-color: $color1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .svg{
        padding: 6px;
        width: 40px;
        height: 40px;
    }

    ul{
        list-style: none;
        padding:0 10px;
        margin: 10px 0;

        li{

            a{
                color: $white;
                font-size:  $textMd;
                text-decoration: none;
            }
        }
    }

    a{
        text-decoration: none;
    }
}


