footer {
    background-color: $color1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
    .svg{
        padding: 6px;
        width: 40px;
        height: 40px;
    }

    ul{
        list-style: none;
        padding:0 10px;
        margin: 10px 0;

        li{

            a{
                color: $white;
                font-size:  $textMd;
                text-decoration: none;
            }
        }
    }

    a{
        text-decoration: none;
    }
}

@keyframes animation{
    0%{background-color: #5D185B;}
    25%{background-color: $color1;}
    50%{background-color: #B569CC;}
    75%{background-color: $color1;}
    100%{background-color: #5D185B;}
}

