.icon {
    width: 150px;
}

.iconH{
    width: 65px;
}

.banner100 {
     width:100%;
}

@keyframes animation{
    0%{background-color: #5D185B;}
    25%{background-color: $color1;}
    50%{background-color: #B569CC;}
    75%{background-color: $color1;}
    100%{background-color: #5D185B;}
}
.sendFree{
    text-align: center;
    background-color: $color1;
    color: $white;
    font-size: $textLg;
    margin: 0;

    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.start{
    width: 500px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    transition: 0.5s;
    
    &:hover{
        transform: scale(1.2);
    }
}

.p{
    padding-left: 30px;
    padding-bottom: 30px;
}

.centerLinksIndex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}