.imgUs{
    padding: 15px 200px;
    background-color: $grey;

    section{
        margin-top: 10px;
        border: solid black 2px;
        border-radius: 10px;
    }

    img{
        width: 200px;
    }

    p{
        padding: 10px 0 20px 20px;
        font-size: $textLg;
    }

}

.imgLeft{
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.imgRight{
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
}
