//Variables globales

//color
$color1: rgb(156, 62, 156);
$color2: #d4d0f5;

//fonts
$font1: 'Roboto', sans-serif;
$font2: verdana, sans-serif;

//textsizing
$textSm: 0.8em;
$textMd: 1em;
$textLg: 1.2em;
$textXl: 1.8em;