//Variables globales

//color
$color1: #9c3e9c;
$color2: #d4d0f5;
$black: #1d1d1d;
$white: #f8f8f8;
$grey: #d4d0f580;

//fonts
$font1: 'Roboto', sans-serif;
$font2: verdana, sans-serif;

//textsizing
$textXs: 0.6em;
$textSm: 0.8em;
$textMd: 1em;
$textLg: 1.4em;
$textXl: 2em;